@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

@font-face {
  font-family: "Default";
  src: url("/fonts/x14y24pxHeadUpDaisy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: "Default"; */
  /* font-weight: bold; */
  font-size: 14px;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}
